@charset "UTF-8";

header {
    background-color: #bd5f25;
    text-align: center;
    margin: -8px -8px -8px -8px;
    box-shadow: 8px 8px 8px 8px #bd5f25d2;
}

.tipo {
    color:white;
    text-shadow: black 0.2em 0.2em 0.4em;
    
}


body {
    background-color: #bd683b;
}

h1 {
    font-size: 50px;
    text-decoration-line: underline;
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
}


.mae:hover .filho{
    display: block;

}
.title{
    color: whitesmoke;
    margin: 0px auto;
    height: 50px;
    width: 500px;
}

.filho{
    display: none;
    width: 50%;
    margin: 2em auto;
    font-size: 25px;
    font-family: 'La Belle Aurore', cursive;
    
}


footer{
    background-color: #703c21;
    color:rgb(233, 0, 0);
    text-align: end;
    padding: 1px;
    margin: -8px;
    box-shadow: 5px 5px 5px 5px #773d1dcb;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.486) 0.1em 0.1em 0.1em;
}

footer > h1 {
    font-weight: bolder;
    font-size: 17px;
    text-decoration: none;
    text-align: end;
    color:#421F0C;
}

footer > p {
    color:#3D2213;
}
