@charset "UTF-8";

* {
    font-family: 'Alegreya';
    /*height: 100%;*/
    color: white;
}
    main{
        background-color: #bd5f2d;
        text-align: center;
        margin: -8px -8px -8px -8px;
        
    }

    body{
        background-color: #bd683b;
    }
    
    h1{
        font-size: 50px;
        text-decoration-line: underline;
    }

    h2{
        font-size: 30px;
    }

    p{
        font-size: 20px;
    }

    div > p {
        display: none;
    }

    div:hover > p {
        display: block;
        color: white;
        
        text-align: center;
        width: 300px;
    }

    div:hover {
        color:#D95732;
    }