@charset "UTF-8";

* {
    font-family: 'Alegreya';
    /*height: 100%;*/
    color: white;
}


header {
    background-color: #bd5f25;
    text-align: center;
    margin: -8px -8px -8px -8px;
    box-shadow: 8px 8px 8px 8px #bd5f25b7;
}


main {}

body {
    background-color: #bd683b;
}

h1 {
    font-size: 50px;
    text-decoration-line: underline;
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
}

p {
    font-size: 20px;
    text-align: jus;
    color: whitesmoke;
    align-content: center;
    

}

.mae:hover .filho{
    display: block;

}
.title{
    color: #D95732;
}

.filho{
    display: none;
    width: 50%;
    margin: 2em auto;
}

/*div>p {
    display: none;
}

div:hover>p {
    display: block;

}

div:hover {
    

}*/

.negrito {
    font-weight: bolder;
}