@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


header {
    
}

.container-header01 {
    height: 14vh;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;
}

.header-content {
    display: flex;
    
    align-items: center;
}   

.destinos {
    display: flex;
    margin: 0px 100px;
}

p {
    margin: 20px;
    font-weight: bold;
    font-size: 1.1em;
  
}

#logo {
  margin: 0px 80px 0px -80px;
}


.botao-header {
    font-weight: bolder;
    text-transform: uppercase;
    color: #fff;
    background-color: #db4242;
    border-color: #cc3535;
    border: none;
    padding: 13px 17px;
    border-radius: 8px;
    cursor: pointer;
}

.botao-header:hover {
    background-color: #b32b2b;
    transition-duration: 0.7s;
}

.botao-header > a {
    text-decoration: none;
    color: white;
}


#banner {
    background-image: url(imagens/banner-europa.jpg);
    height: 568px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo-banner {
    display: block;
    text-align: center;
}
.titulo-banner > p, h2 {
    color: black;
    margin-left: 70px;
}

.titulo-banner a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

main a:hover {
    text-decoration: underline;
}

.titulo-banner > p, a {
    font-weight: lighter;
}

.titulo-banner > h2 {
    margin-top: 0px;
    font-weight:900;
    font-size: 4em;
    font-family: sans-serif;
}

nav {
   
}

.container-nav01 {
    font-size: 1.2em;
    font-weight: bold;
    color: White;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.child-nav01 {
    background-color: #db4242;
    width: 1000px;
    text-transform: uppercase;
}

.child-nav01 button {
    background-color: white;
    padding: 10px;
    border: none;
    color: #db4242;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
   

}

.child-nav01 span {
   
}

.child-nav01 button:hover {
    color: black;
    transition-duration: 0.8s;
}

.container-nav02 {
    display: flex;
}

.child-nav02 {
    display: flex;
}