@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"); /* font-family: 'Open Sans', sans-serif;  */

* {
  font-family: "Open Sans", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

:root {
  --cor0: #fdb201;
  --cor1: #ffc801;
  --cor2: #ffee00;
  --cor3: #ffff69;
  --cor4: #ff4f4f;
  --cor5: #f52326;
  --cor6: #e30510;
  --cor7: #bd1314;

  --under: underline;
}

header {
  margin: -8px 0px -7px 0px;
  height: 150px;
  width: 100%;
  background-color: var(--cor6);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.473);
}

.containerhome {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 8px;
}

.containerhome > img {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}

div.childhome:hover {
  background-color: #fdb201;
  cursor: pointer;
  transition-duration: 0.5s;
}

div.childhome:hover > a {
  color: var(--cor7);
  text-decoration: underline;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: large;
}

.childhome {
  width: 99px;
  height: 26px;
  background-color: var(--cor5);
  border: 1px solid rgba(0, 0, 0, 0.452);
  margin-left: 15px;
  margin-right: 7px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.384);
}

.childhome > a {
  color: var(--cor3);
  margin-left: 18px;
  text-decoration: none;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: large;
  text-align: center;
}

main {

    
}



main img {
  
  margin: 8px 0px 20px 0px;
  width: 100%;
  height: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.418);
}

footer {
  background-color: rgba(119, 64, 0, 0.904);
}

.containerfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.childfooter {
  
}

.childfooter > p {
  font-size: 1.1em;
  font-weight: lighter;
  color:White;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.425);
}