@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FDFDFF;
    /* background-image: linear-gradient(95deg, #62929E, #546A7B, #393D3F); */
    color: white;
}

.container {
    height: 96vh;
    width: 96vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    background-image: linear-gradient(-50deg, #ff00dd, #6000de);
    height: 600px;
    width: 450px;
    border-radius: 15px;
    border-end-end-radius: 5px;
    box-shadow: 78px 54px 0px rgb(182, 26, 182);
}

.icon {
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-bottom: -20px;
    background-image: linear-gradient(45deg, rgb(255, 207, 215), rgb(241, 68, 241));
    border-radius: 27px;
}

.princi {
    background-color: blue;
}

h1 {
    text-shadow: 1px 1px 2px black;
}

h2 {
    text-align: left;
}