@charset "UTF-8";

* {
    box-sizing: border-box;
}

.container{
    display: flex;
    overflow-x: scroll;
    padding: 24px;
    width: 600px;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    border-radius: 8px;
    gap: 12px;
}

.container .item{
    flex: 0 0 100%;
    padding: 24px;
    border-radius: 8px;
    scroll-snap-align: start;
}

img{
    width: 100%;
}