@charset "UTF-8";

body {
    height: 97vh;
    font-family: Arial, Helvetica, sans-serif;
    background: black url(imagens/abstract-g0410c4722_1280.png) center center no-repeat fixed;
    background-size: cover;
}


