@charset "UTF-8";

body  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

.maius {
    text-transform: uppercase
}

.container-header01 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}


.child-header01 {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: -10px;
}


.child-header01 a {
    margin: 0px 10px;
    text-decoration: none;
}

.globo {
    color: rgb(0, 91, 196);
    font-weight: bold;
}

.globo:hover {
    color: rgb(89, 166, 255);
}

.g1 {
    color: rgb(163, 0, 0);
    font-weight: bold;
}

.ge {
    color: rgb(0, 121, 0);
    font-weight: bold;
}

.gshow {
    color: rgb(235, 133, 0);
    font-weight: bold;
}

.globoplay {
    color: rgb(255, 13, 13);
    font-weight: bold;
}


.child-header01 button {
    font-size: 0.7em;
    color: rgba(95, 95, 95, 0.788);
    border: 1px solid rgba(128, 128, 128, 0.185);
    background-color: white;
    font-weight: lighter;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.637);
    border-radius: 3px;
    margin-left: 10px;
}

.assine {
    color: rgba(128, 128, 128, 0.733);
    font-size: 0.7em; 
    
}

.container-header02 {
    background-color: #C4170C;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    
}

.child-header02 {
    display: flex;
    align-items: center;
}

.child-header02 a {
    margin: 0px 10px;
    text-decoration: none;
}

.lighter a{
    color: white;
    font-weight: lighter;
    font-size: 1.7em;
}

.header-menu{
    color: white;
    font-size: 0.8em;
    font-weight: bold;
}

.menup {
    margin-left: 50px;
}

.header-g1 {
    color: white;
    font-weight: bold;
    font-size: 2.3em;
}

.header-search {
    color: white;
    border: none;
    background-color: #A7140A;
    padding: 10px 5px;
    margin-right: 100px;
    border-radius: 5px;
}

.header-search input:hover {
    color: black;
}

.header-search::placeholder {
    color: white;
    font-weight: bold;
    text-align: center;
}

input:hover, select:hover {
    border: none;
    border-color: transparent;
    background-color: white;
    transition-duration: 0.7s;
    color: gray;
}